{% extends 'base.html' %}

<!-- id SERIAL PRIMARY KEY,
description TEXT,
hashtag TEXT,
image TEXT,
user_id BIGINT,
board_list_id BIGINT -->

{% block content %}
<h1>Welcome to your Account!</h1>
{% if session ['id'] == 1 %}
<p>You have access to everything <b>Oh Great Administrator!</b> Overseer of this great and powerfully jank site</p>
{% endif %}
<h3>These are all the boards you have created!</h3>
<ul>
{% for item in boards_owned: %}
<li> <a href="/board/{{ item[1] }}">{{ item[2] }}</a></li>
{% endfor %}
</ul>
<h3>These are all the boards that have been shared with you!</h3>
<ul>
    {% for item in boards_shared: %}

    <li> <a href="/board/{{ item[1] }}">{{ item[2] }}</a></li>
    {% endfor %}
</ul>
<h3>Here are all the other available boards on the site!</h3>
<ul>
    {% for item in boards_not_owned: %}
    <li> <a href="/board/{{ item[1] }}">{{ item[2] }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
