<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/new_board">New Board</a></li>
            <li><a href="/search">Search</a></li>
            {% if session["id"] != None %}
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
            <li id="info">
                {% if session["id"] != None %}
                Hello {{ session["name"] }}!
                {% else %}
                Please login!
                {% endif %}
            </li>
            
        </ul>
    </nav>
    
   
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>
