<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/explore">Explore</a>
        <a href="/new_board">New Board</a>
        <a href="/signup">Signup</a>
        {%  if logged_in == true %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
        {% if session["email"] %}
        Hello {{ session["email"] }}!
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
    </nav>

    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>
