{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}
<h3>Edit or Delete this post!</h3>
<form id="edit" method="PATCH" action="/edit/{{ table_name }}/{{ id }}">
    <input hidden name="post_id" value="{{ post_data[0] }}">
    <input hidden name="table_name" value="{{ table_name }}">
    
    <label for="description">Description:</label>
    <input id="description" type="text" name="description" value="{{ post_data[1] }}" required>
    <br>
    <label for="hashtags">Hashtags:</label>
    <input id="hashtags" type="text" name="hashtags" value="{{ post_data[2] }}" placeholder="#example#hashtag#text" required>
    <br>
    <label for="image">Image URL:</label>
    <input id="image" type="text" name="image" value="{{ post_data[3] }}" required>
    <br>
    <input hidden name="user_id" value="{{ session['id'] }}">
    <input hidden name="board_list_id" value="{{ post_data[5] }}">
    <br>
    <p>Press the button below to edit the post</p>
    <input type="submit" value="Edit!">
</form>

<p>Press the button below to delete the post</p>
<button id="delete">Delete!</button>

<h3>Current post info</h3>
<div name="{{ post_data[0] }}"><img src='{{ post_data[3] }}'><br>
    {{ post_data[1] + ", " + post_data[2] }} 
</div>

<script>
    const form = document.querySelector('#edit');
    function editPost(e) {
        e.preventDefault()
        return fetch('/edit/{{ table_name }}/{{ id }}', {method: 'PATCH', body: new FormData(form)})
        .then(() => window.location.replace('/board/{{ table_name }}'))
    }
    form.addEventListener('submit', editPost);

    function deletePost() {
        return fetch('/delete/{{ table_name }}/{{ id }}', {
            method: 'DELETE',
     }).then(() => window.location.replace('/board/{{ table_name }}'))
    }
    const button = document.querySelector('#delete');
    button.addEventListener('click', deletePost);
</script>
{% endblock %}


