{% extends 'base.html' %}
{% block title %}Create - Inspirest{% endblock %}

{% block content %}
<h1>Create a new board!</h1>
{% if session["id"] != None %}
<form method="POST">
    <label for="board_name">Board Name</label>
    <input id="board_name" type="text" name="board_name" required>
    <br>
    <label for="description">Description</label>
    <input id="description" type="text" name="description" required>
    <br>
    <label for="access">Private?</label>
    <input id="access" type="checkbox" name="access">
    <br>
    <br>
    <input type="submit">
    <hr>
</form>
{% else %}
<p>Please login to your account to get access to our features!</p>
{% endif %}
{% endblock %}
