{% extends 'base.html' %}
{% block title %}Explore - Inspirest{% endblock %}

{% block content %}
<form method="POST" action="">
    <label for="name">First Name</label>
    <input id="name" type="name" name="name">
    <br>
    <label for="email">Email</label>
    <input id="email" type="email" name="email">
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <br>
    <label for="password">Confirm Password</label>
    <input id="password" type="password" name="password">
    
    <input type="submit">
</form>
{% endblock %}
